.footer {
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: lightgray;
}

.container {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}